div {
    line-height: 6;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    padding: 25px;
    margin-top: 25px;
}

#div3 {
    line-height: 6;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
}